$brand-color: #ff6b09;
$title-color: #111518;
$primary-text-color: #b9b9b9;
$secondary-text-color: #3d3d3d;
$white: #ffffff;
$section-background-color: #e5e5e5;
$guarantee-section-background-color: #f1f1f1;
$mobile-menu-background-color: rgba(17, 21, 24, 0.9);
$mobile-menu-icon-color: #000000;

$timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
