<!-- Антон -->
<section class="section section--about">
    <div class="container container--about">
        <h2 class="section__title section__title--about">Преподаватель</h2>
        <div class="wrapper">
            <img class="about__img" src="./images/about-img/about-img.jpg" srcset="./images/about-img/about-img.jpg x1, ./images/about-img/about-img@2x.jpg 2x" alt="Фото Преподавателя" />
            <div class="list-wrapper">
                <h3 class="section__title section__title--sub-title">Елена Морева</h3>
                <ul class="skills__list">
                    <li class="skills__item">
                        <svg class="skills__svg" width="17.08px" height="14px">
              <use href="./images/icons.svg#check-mark"></use>
            </svg>
                        <p class="skills__text">Опыт подготовки учеников к ВНО - 6 лет</p>
                    </li>
                    <li class="skills__item">
                        <svg class="skills__svg" width="17.08px" height="14px">
              <use class="skills__svg-icon" href="./images/icons.svg#check-mark"></use>
            </svg>
                        <p class="skills__text">Собственный результат сдачи ВНО - 197 баллов 2 года подряд</p>
                    </li>
                    <li class="skills__item">
                        <svg class="skills__svg" width="17.08px" height="14px">
              <use href="./images/icons.svg#check-mark"></use>
            </svg>
                        <p class="skills__text">
                            Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)
                        </p>
                    </li>
                </ul>
                <p class="dash">—</p>
            </div>
        </div>
    </div>
</section>

<!--  -->