<section class="container advantages">
  <h2 class="visually-hidden">Преимущества</h2>
  <ul class="advantages__list">
    <li class="advantages__item advantages__item--icon-female">
      <h3>Адаптированная авторская программа ВНО</h3>
    </li>
    <li class="advantages__item advantages__item--icon-mobile">
      <h3>Современные методики обучения</h3>
    </li>
    <li class="advantages__item advantages__item--icon-insurance">
      <h3>Финансовая гарантия результата</h3>
    </li>
  </ul>
</section>
