<!-- Настя -->

<footer class="section section__footer">
    <div class="container footer__container">
        <div class="footer-logo">
            <a href="#" class="footer-logo__link">
                <svg class="logo__icon logo__icon--size">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
            </a>
        </div>
        <ul class="footer-list">
            <li class="footer-list__item footer-list__item--tel">
                <a class="footer-list__link--tel" href="tel:+380000000000">
                    <svg class="footer-list__icon footer-list__icon--tel">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg> +38 (050) 916 69 36</a>
            </li>

            <li class="footer-list__item footer-list__item">
                <a class="footer-list__link footer-list__link--inst" href="https://www.instagram.com/hellenglish/?hl=ru" target="_blank" rel="nofollow noopener">
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <p class="footer__text"><span class="footer__unicode">©</span>Все права защищены, 2019</p>
    </div>
</footer>