<!-- Ира -->
<header class="page-header">
    <div class="page-header__container container">
        <nav class="site-nav">
            <a href="#" class="logo link"><span class="logo__text">Hell
                    <svg class="logo__icon">
                        <use href="./images/icons.svg#icon-fire"></use>
                    </svg> EN</span>
                <span class="logo__small logo__small--accent">адский</span>
                <span class="logo__small">английский</span>
            </a>
            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <a href="#program" class="site-nav__link link scrollto">Программы обучения</a>
                </li>
                <li class="site-nav__item">
                    <a href="#section-about" class="site-nav__link link scrollto">О нас</a>
                </li>
                <li class="site-nav__item">
                    <a href="#benefits" class="site-nav__link link scrollto">Варианты обучения</a>
                </li>
                <li class="site-nav__item">
                    <a href="#form-registration" class="site-nav__link link scrollto">Контакты</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="page-header__button" data-modal-open>Консультация по телефону</button>
        <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="menu-icon">
                <use href="./images/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>

</header>