<section class="hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__title">
                Комплексная подготовка к ВНО <br /> по английскому языку
            </h1>
            <p class="hero__text">
                Просто не будет. <span class="hero__text--black">Но ты гарантировано наберешь</span
        ><span class="hero__text--orange">+25 баллов</span>
            </p>
            <a href="#form-registration" class="service-button hero__service-button scrollto">
        хочу на бесплатное занятие
      </a>
        </div>
        <div class="hero__img"></div>
        <div class="advantages">
            <h2 class="visually-hidden">Преимущества</h2>
            <ul class="advantages__list">
                <li class="advantages__item advantages__item--icon-female">
                    <h3 class="advantage-subtitle">Адаптированная авторская программа ВНО</h3>
                </li>
                <li class="advantages__item advantages__item--icon-mobile">
                    <h3 class="advantage-subtitle advantage-subtitle--method">
                        Современные методики обучения
                    </h3>
                </li>
                <li class="advantages__item advantages__item--icon-insurance">
                    <h3 class="advantage-subtitle">Финансовая гарантия результата</h3>
                </li>
            </ul>
        </div>
    </div>
</section>