<!-- Настя -->
<section class="section">
    <div class="container">
        <h2 class="section__title">Регистрация на <span>бесплатную</span> телефонную <span>консультацию</span> по нюансам ЗНО
            по английскому языку</h2>
            <form>
                <b>Оставь заявку на участие в <span>бесплатном занятии. </span>
                    С вами свяжется консультант и ответит на вопросы</b>
                    <!-- <label for="name">Имя</label> -->
                    <input class="form-input" type="text" name="name" id="name" pattern="^[А-Яа-яЁё]+$" title="Имя пользователя должно начинаться с заглавной буквы" placeholder="Имя*">
                    <!-- <label for="tel">Телефон</label> -->
                    <input class="form-input" type="tel" name="tel" id="tel" maxlength="13" pattern="\+380[0-9]+$" title="Номер телефона должен начинаться с '+380'" placeholder="Телефон*">
                    <button class="service-button" type="submit">ХОЧУ НА БЕСПЛАТНОЕ ЗАНЯТИЕ</button>
            </form>
    </div>

</section>