<!-- Настя -->
<section class="section form-registration__section" id="form-registration">
  <div class="container form-registration__container">
    <h2 class="section__title section__title--white">
      Регистрация на <span class="section__title--orange">бесплатную</span> телефонную
      <span>консультацию</span> по нюансам ЗНО по английскому языку
    </h2>
    <form class="form-registration">
      <b class="form-registration__text"
        >Оставь заявку на участие в
        <span class="form-registration__text--orange">бесплатном занятии.</span><br />
        С вами свяжется консультант и ответит на вопросы</b
      >
      <label class="form-registration__label" for="name"></label>
      <input
        class="form-registration__input form-registration__input--name"
        type="text"
        name="name"
        id="name"
        maxlength="20"
        pattern="^[А-Яа-яЁё]+$"
        title="Имя пользователя должно начинаться с заглавной буквы"
        placeholder="Имя*"
      />

      <label class="form-registration__label" for="tel"></label>
      <input
        class="form-registration__input form-registration__input--tel"
        type="tel"
        name="tel"
        id="tel"
        maxlength="13"
        pattern="\+380[0-9]+$"
        title="Номер телефона должен начинаться с '+380'"
        placeholder="Телефон*"
      />

      <button class="btn service-button service-button__form" type="submit" data-modal-open>
        ХОЧУ НА БЕСПЛАТНОЕ ЗАНЯТИЕ
      </button>
    </form>
  </div>
</section>
