<!-- Ира -->
<div class="menu-container js-menu-container" id="mobile-menu">
    <div class="content-container container">
        <div class="logo-container">
            <a href="#" class="logo link">
                <span class="logo__text logo__text--menu">Hell
          <svg class="logo__icon">
            <use href="./images/icons.svg#icon-fire"></use>
          </svg>
          EN</span
        >
        <span class="logo-text__small logo-text__small--accent">адский</span>
                <span class="logo__small logo__small--menu">английский</span>
            </a>
            <button class="menu-toggle menu-toggle--close js-close-menu">
        <svg class="menu-icon--close">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
        </div>

        <ul class="memu-nav list" data-menu-list>
            <li class="memu-nav__item mmenu__link">
                <a href="#program" class="mobile-menu__link scrollto">Программа обучения</a>
            </li>
            <li class="memu-nav__item">
                <a href="#section-about" class="mobile-menu__link scrollto mobile-menu__link--current">О нас</a
        >
      </li>
      <li class="memu-nav__item">
        <a href="#benefits" class="mobile-menu__link scrollto">Варианты обучения</a>
            </li>
            <li class="memu-nav__item">
                <a href="#form-registration" class="mobile-menu__link scrollto">Контакты</a>
            </li>
        </ul>

        <button type="button" class="menu__button" data-modal-open>Консультация по телефону</button>
    </div>
</div>