<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <form class="js-speaker-form form">
      <b class="form__title">Оставьте свои данные, мы вам перезвоним</b>
      <div class="form__field">
        <label for="user-name" class="form__label">Имя</label>
        <div class="form__wrapper">
          <input type="text" name="user-name" id="user-name" class="form__input" />
          <svg class="form__icon" width="18px" height="18px">
            <use href="./images/icons.svg#icon-person-black"></use>
          </svg>
        </div>
      </div>
      <div class="form__field">
        <label for="tel" class="form__label">Телефон</label>
        <div class="form__wrapper">
          <input type="tel" name="tel" id="tel" class="form__input" />
          <svg class="form__icon" width="18px" height="18px">
            <use href="./images/icons.svg#icon-phone-black"></use>
          </svg>
        </div>
      </div>
      <div class="form__field">
        <label for="mail" class="form__label">Почта</label>
        <div class="form__wrapper">
          <input type="email" name="mail" id="mail" class="form__input" />
          <svg class="form__icon" width="18px" height="18px">
            <use href="./images/icons.svg#icon-email-black"></use>
          </svg>
        </div>
      </div>
      <div class="form__field">
        <label for="comment" class="form__label">Комментарий</label>
        <textarea
          name="comment"
          id="comment"
          rows="8"
          placeholder="Введите текст"
          class="form__comment"
        ></textarea>
      </div>
      <div class="policy">
        <label class="policy__field">
          <input type="checkbox" name="policy" class="policy__input" />

          <svg class="policy__icon" width="16px" height="15px">
            <use class="policy__icon--display" href="./images/icons.svg#icon-check"></use>
          </svg>
          Соглашаюсь с рассылкой и принимаю <br />
          <a href="#" class="policy__link">Условия договора</a>
        </label>
      </div>
      <div>
        <button type="submit" class="service-button form__button">Отправить</button>
      </div>
    </form>
    <button class="button-close" data-modal-close>
      <svg class="button-close--size">
        <use class="button-close--color" href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
