<!--модалка для контактов-->
<div class="backdrop is-hidden" bata-modal>
  <div class="modal2">
    <form class="form">
      <div class="form-wrapper">
        <img
          class="modal2__img"
          src="./images/about-img/about-img.jpg"
          srcset="./images/about-img/about-img.jpg 1x, ./images/about-img/about-img@2x.jpg 2x"
          alt="Фото Преподавателя"
        />
        <div class="form-box">
          <h3 class="form__title2">Спасибо за заявку</h3>
          <h4 class="form__subtitle">В ближайшее время с вами свяжется преподаватель</h4>
        </div>
      </div>

      <a href="./" class="service-button form__service-button" bata-modal-close>
        Вернуться на главную
      </a>
    </form>
  </div>
</div>
