
<section class="program-section">
    <div class="program">
        <h2 class="program__title">
            Наша программа
        </h2>
        <div class="program__container">
            <div class="program__line"></div>
            <ul class="program-list">
                <li class="program-list__item">
                    1 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                           
                                Grammar
        

                            <ul class="program-topics">
                                <li class="program-topics__item">Nouns & Articles
                                </li>
                                <li class="program-topics__item">Adjectives & Adverb</li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Vocabulary
                            <ul class="program-topics">
                                <li>Family & Relations
                                </li>
                                <li>People & Society</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-list__item">
                    2 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                            — Grammar
                            <ul class="program-topics">
                                <li class="program-topics__item">Pronouns
                                </li>
                                <li class="program-topics__item">Active Voice</li>
                                <li> Passive Voice</li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Vocabulary
                            <ul class="program-topics">
                                <li>Home
                                </li>
                                <li>School</li>
                                <li>Work</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-list__item">
                    3 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                            — Grammar
                            <ul class="program-topics special">
                                <li class="program-topics__item">Modal verbs</li>
                                <li class="program-topics__item">Infinitive</li>
                                <li>Gerund</li>
                                <li>Participle: 1, 2</li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Vocabulary
                            <ul class="program-topics special">
                                <li>Travel & Tourism </li>
                                <li>Culture & Free Time</li>
                                <li>Sport</li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Writing
                            <ul class="program-topics">
                                <li>Informal Letter</li>
                                
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="program-list__item">
                    4 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                            — Grammar
                            <ul class="program-topics">
                                <li class="program-topics__item">Clauses: Conditional and Wishes</li>
                                <li class="program-topics__item">Direct / Reported speech</li>
                                <li>Preposition</li>
                                <li>Conjunction</li>
                                <li>Numeral</li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Vocabulary
                            <ul class="program-topics">
                                <li>Healthy Living </li>
                                <li>Nature & Environment</li>
                                <li>Money</li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Writing
                            <ul class="program-topics">
                                <li>Formal Letter</li>
                                
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="program-list__item">
                    5 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                            —
                            <ul class="program-topics special">
                                <li class="program-topics__item size">Revision
                                    Tests

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>


        </div>

        <!-- <h2 class="benefits-title">Почему нас выбирают</h2> -->
    </div>

</section>
