
<section class="program-section">
    <div class="program">
        <h2 class="program__title">
            Наша программа
        </h2>
        <div class="program__container">
            <div class="program__line"></div>
            <ul class="program-list">
                <li class="program-list__item">
                    1 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                           
                                Grammar
        

                            <ul class="program-topics">
                                <li class="program-topics__item">Nouns & Articles
                                </li>
                                <li class="program-topics__item">Adjectives & Adverb</li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Vocabulary
                            <ul class="program-topics">
                                <li>Family & Relations
                                </li>
                                <li>People & Society</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-list__item">
                    2 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                            — Grammar
                            <ul class="program-topics">
                                <li class="program-topics__item">Pronouns <br>
                                    Active Voice <br>
                                    Passive Voice
                                </li>
                                <li class="program-topics__item"></li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Vocabulary
                            <ul class="program-topics">
                                <li>Home <br>
                                    School <br>
                                    Work
                                </li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-list__item">
                    3 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                            — Grammar
                            <ul class="program-topics special">
                                <li class="program-topics__item">Modal verbs <br>
                                    Infinitive <br>
                                    Gerund <br>
                                    Participle: 1, 2
                                </li>
                                <li class="program-topics__item"></li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Vocabulary
                            <ul class="program-topics special">
                                <li>Travel & Tourism <br>
                                    Culture & Free Time <br>
                                    Sport
                                </li>
                                <li></li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Writing
                            <ul class="program-topics">
                                <li>Informal Letter</li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="program-list__item">
                    4 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                            — Grammar
                            <ul class="program-topics">
                                <li class="program-topics__item">Clauses: Conditional and Wishes <br>
                                    Direct / Reported speech <br>
                                    Preposition <br>
                                    Conjunction <br>
                                    Numeral
                                </li>
                                <li class="program-topics__item"></li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Vocabulary
                            <ul class="program-topics">
                                <li>Healthy Living <br>
                                    Nature & Environment <br>
                                    Money
                                </li>
                                <li></li>
                            </ul>
                        </li>
                        <li class="program-course__item">
                            — Writing
                            <ul class="program-topics">
                                <li>Formal Letter</li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="program-list__item">
                    5 семестр
                    <ul class="program-course">
                        <li class="program-course__item">
                            —
                            <ul class="program-topics special">
                                <li class="program-topics__item size">Revision
                                    Tests

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>


        </div>

        <h2 class="benefits-title">Почему нас выбирают</h2>
    </div>

</section>
