<!-- Алексей -->
<section class="section">
    <div class="container">
        <h2 class="section__title">Отзывы выпускников</h2>

        <div class="reviews" id="review">

            <div class="reviews__slider one">

                <div class="reviews__sl-item">

                    <article class="reviews__article">
                        <div class="reviews__figure">
                            <img class="reviews__author" srcset="./images/reviews/one/one.jpg 1x, ./images/reviews/one/one@2x.jpg 2x"
                            src="./images/reviews/one/one.jpg" alt="фото профиля">
                            <a href="#" class="reviews__icon-link">
                                <svg class="reviews__icon">
                                    <use href="../src/images/icons.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                        
                        <div class="reviews__article-text">
                            <h3 class="reviews__name">Анастасия Затрикопа</h3>
                            
                            <p class="reviews__description">Выпуск 2016-го года, Національний університет біоресурсів
                                і природокористування України</p>
                                
                                <p class="reviews__text">Мы занимались с Еленой в течение 3 месяцев. Была цель улучшить уровень для сдачи экзамена. Я очень довольна результатом, мой уровень вырос за короткий срок. Очень понравилось что сразу обговорили что нужно будет мне сделать чтобы достичь желаемого. Было понятно какой будет объем работы. Елена требовательный преподаватель, как раз то что нужно если нужно всерьез улучшить уровень английского. Хочу отметить качество подготовки, готовность к занятиям, уроки очень динамичные, спланированные. Также очень понравились учебные материалы которые предоставлялись. Ничего не приходилось искать самостоятельно, и сразу было видно что все грамотно подобрано под мой уровень. Я очень довольна и с удовольствием рекомендую данного преподавателя!  
                                    <a href="#review" class="reviews__link scrollto">Читать дальше</a>
                                </p>
                            </div>
                        </article>
                    </div>
                        
                <div class="reviews__sl-item">

                    <article class="reviews__article">
                        <div class="reviews__figure">
                            <img class="reviews__author" srcset="./images/reviews/two/two.jpg 1x, ./images/reviews/two/two@2x.jpg 2x"
                            src="./images/reviews/two/two.jpg" alt="фото профиля">
                            <a href="#" class="reviews__icon-link">
                                <svg class="reviews__icon">
                                    <use href="../src/images/icons.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                        
                        <div class="reviews__article-text">
                            <h3 class="reviews__name">Светлана Мартыщенко</h3>
                            
                            <p class="reviews__description">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                                
                                <p class="reviews__text">Елена - волшебница английского языка! Самый лучший учитель. Тот случай, когда летишь на занятия и с нетерпением их ждёшь. Помогла мне подготовиться к ВНО за несколько месяцев. Мой результат превысил все мои изначальные ожидания.
                                </p>
                            </div>
                        </article>
                    </div>
                        
                <div class="reviews__sl-item">

                    <article class="reviews__article">
                        <div class="reviews__figure">
                            <img class="reviews__author" srcset="./images/reviews/three/three.jpg 1x, ./images/reviews/three/three@2x.jpg 2x"
                            src="./images/reviews/three/three.jpg" alt="фото профиля">
                            <a href="#" class="reviews__icon-link">
                                <svg class="reviews__icon">
                                    <use href="../src/images/icons.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                        
                        <div class="reviews__article-text">
                            <h3 class="reviews__name">Анна Гаванна</h3>
                            
                            <p class="reviews__description">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                                
                                <p class="reviews__text">Сдала успешно ВНО, но ещё прохожу обучение. Моя цель - Advanced. Теперь смотрю английские и американские сериалы в оригинале, смогла найти друзей с разных стран, общаюсь с ними на английском. Говорят, получается у меня неплохо. Елена, спасибо за крутую атмосферу и за новые цели! Теперь подумываю о переезде в Америку. Благодаря интенсивной и результативной программе этих курсов, я близка к цели.  
                                    <a href="#review" class="reviews__link scrollto">Читать дальше</a>
                                </p>
                            </div>
                        </article>
                    </div>
                        
                <div class="reviews__sl-item">

                    <article class="reviews__article">
                        <div class="reviews__figure">
                            <img class="reviews__author" srcset="./images/reviews/four/four.jpg 1x, ./images/reviews/four/four@2x.jpg 2x"
                            src="./images/reviews/four/four.jpg" alt="фото профиля">
                            <a href="#" class="reviews__icon-link">
                                <svg class="reviews__icon">
                                    <use href="../src/images/icons.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                        
                        <div class="reviews__article-text">
                            <h3 class="reviews__name">Евгения Невмеренко</h3>
                            
                            <p class="reviews__description">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                                
                                <p class="reviews__text">Елена - очень хороший преподаватель английского языка. Каждый урок проходил в чрезвычайно интересной форме. Елена интересовалась моими предпочтениями, поэтому каждое занятие было подготовлено не только для повышения уровня английского языка, но и для его проведения в легкой и веселой форме. Обучением и результатами подготовки в ВНО очень довольна!  
                                </p>
                            </div>
                        </article>
                    </div>
                        
                <div class="reviews__sl-item">

                    <article class="reviews__article">
                        <div class="reviews__figure">
                            <img class="reviews__author" srcset="./images/reviews/five/five.jpg 1x, ./images/reviews/five/five@2x.jpg 2x"
                            src="./images/reviews/five/five.jpg" alt="фото профиля">
                            <a href="#" class="reviews__icon-link">
                                <svg class="reviews__icon">
                                    <use href="../src/images/icons.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                        
                        <div class="reviews__article-text">
                            <h3 class="reviews__name">Юлия Листовая</h3>
                            
                            <p class="reviews__description">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                                
                                <p class="reviews__text">С Еленой мы работали 2 месяца. Она готовила меня к экзамену по английскому языку. Я успешно сдала этот экзамен и в итоге поступила туда, куда давно мечтала. Мне было очень комфортно работать с Еленой. Она моментально поняла цели и задачи, которые я поставила. К каждому уроку Елена подходила очень ответственно, готовила дополнительные задания, нашла материалы и задания по формату экзамена. Огромное спасибо за сотрудничество!  
                                    <a href="#review" class="reviews__link scrollto">Читать дальше</a>
                                </p>
                        </div>
                    </article>
                </div>
                    
                <div class="reviews__sl-item">

                    <article class="reviews__article">
                        <div class="reviews__figure">
                            <img class="reviews__author" srcset="./images/reviews/six/six.jpg 1x, ./images/reviews/six/six@2x.jpg 2x"
                            src="./images/reviews/six/six.jpg" alt="фото профиля">
                            <a href="#" class="reviews__icon-link">
                                <svg class="reviews__icon">
                                    <use href="../src/images/icons.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                        
                        <div class="reviews__article-text">
                            <h3 class="reviews__name">Тоня Кучеровская</h3>
                            
                            <p class="reviews__description">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                                
                                <p class="reviews__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студент і бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы-бананы  
                                    <a href="#review" class="reviews__link scrollto">Читать дальше</a>
                                </p>
                            </div>
                        </article>
                    </div>
                    
                    <div class="reviews__sl-item">
                    
                        <article class="reviews__article">
                            <div class="reviews__figure">
                                <img class="reviews__author" srcset="./images/reviews/seven/seven.jpg 1x, ./images/reviews/seven/seven@2x.jpg 2x"
                                    src="./images/reviews/seven/seven.jpg" alt="фото профиля">
                                <a href="#" class="reviews__icon-link">
                                    <svg class="reviews__icon">
                                        <use href="../src/images/icons.svg#icon-vk"></use>
                                    </svg>
                                </a>
                            </div>
                    
                            <div class="reviews__article-text">
                                <h3 class="reviews__name">Ирина Малевская</h3>
                    
                                <p class="reviews__description">Выпуск 2015-го года, Національний університет біоресурсів
                                    і природокористування України</p>
                    
                                <p class="reviews__text">Я начала занятия с репетитором, т.к. мне нужно было сдать экзамен. В достаточно сжатые сроки Елена помогла мне подготовится в экзамену, который я сдала. Во время подготовки Елена добросовестно проверяла и комментировала все выполняемые мной задания, давала советы. Много времени уделялось одной из самых сложных частей - writing.</p>
                            </div>
                        </article>
                    </div>

                    <div class="reviews__sl-item">
                    
                        <article class="reviews__article">
                            <div class="reviews__figure">
                                
                                <img class="reviews__author" srcset="./images/reviews/find-antony/find-antony.jpg 1x, ./images/reviews/find-antony/find-antony@2x.jpg 2x"
                            src="./images/reviews/find-antony/find-antony.jpg" alt="фото профиля">
                                <a href="#" class="reviews__icon-link">
                                    <svg class="reviews__icon">
                                        <use href="../src/images/icons.svg#icon-vk"></use>
                                    </svg>
                                </a>
                            </div>
                    
                            <div class="reviews__article-text">
                                <h3 class="reviews__name">А это Антон</h3>
                    
                                <p class="reviews__description">Просто спрятанный Антон. Ничего более</p>
                    
                                <p class="reviews__text">Поздравляю! Ты нашел спрятанного Антона! Можешь собой гордиться. Нет, тут не будет номера телефона, куда надо отправить смс, рекламы, скрытого приза, пирожка, кофе, подарочной упаковки презервативов или ручного хамелеона. Ничего особенного. Просто Антон. Просто посмотри на него, и получи частичку душевного спокойствия.
                                </p>
                            </div>
                        </article>
                    </div>
                </div>

            <ul class="reviews__list two">
                <li tabindex="-1" class="reviews__list-item">
                    
                        <div class="reviews__list-thumb">
                            <img class="reviews__list-photo" srcset="./images/reviews/one/one.jpg 1x, ./images/reviews/one/one@2x.jpg 2x" src="./images/reviews/one/one.jpg" alt="фото профиля">
                        </div>
                    
                </li>
                <li tabindex="-1" class="reviews__list-item">
                    
                        <div class="reviews__list-thumb">
                            <img class="reviews__list-photo" srcset="./images/reviews/two/two.jpg 1x, ./images/reviews/two/two@2x.jpg 2x" src="./images/reviews/two/two.jpg" alt="фото профиля">
                        </div>
                    
                </li>
                <li tabindex="-1" class="reviews__list-item">
                    
                        <div class="reviews__list-thumb">
                            <img class="reviews__list-photo" srcset="./images/reviews/three/three.jpg 1x, ./images/reviews/three/three@2x.jpg 2x" src="./images/reviews/three/three.jpg" alt="фото профиля">
                        </div>
                    
                </li>
                <li tabindex="-1" class="reviews__list-item">
                    
                        <div class="reviews__list-thumb">
                            <img class="reviews__list-photo" srcset="./images/reviews/four/four.jpg 1x, ./images/reviews/four/four@2x.jpg 2x" src="./images/reviews/four/four.jpg" alt="фото профиля">
                        </div>
                    
                </li>
                <li tabindex="-1" class="reviews__list-item">
                    
                        <div class="reviews__list-thumb">
                            <img class="reviews__list-photo" srcset="./images/reviews/five/five.jpg 1x, ./images/reviews/five/five@2x.jpg 2x" src="./images/reviews/five/five.jpg" alt="фото профиля">
                        </div>
                    
                </li>
                <li tabindex="-1" class="reviews__list-item">
                    <p>
                        <div class="reviews__list-thumb reviews__list-thumb--current">
                            <img class="reviews__list-photo" srcset="./images/reviews/six/six.jpg 1x, ./images/reviews/six/six@2x.jpg 2x" src="./images/reviews/six/six.jpg" alt="фото профиля">
                        </div>
                    </p>
                </li>
                <li tabindex="-1" class="reviews__list-item">
                    
                        <div class="reviews__list-thumb">
                            <img class="reviews__list-photo" srcset="./images/reviews/seven/seven.jpg 1x, ./images/reviews/seven/seven@2x.jpg 2x" src="./images/reviews/seven/seven.jpg" alt="фото профиля">
                        </div>
                    
                </li>
                <li tabindex="-1" class="reviews__list-item">
                
                    <div class="reviews__list-thumb">
                        <img class="reviews__list-photo"
                            srcset="./images/reviews/find-antony/find-antony.jpg 1x, ./images/reviews/find-antony/find-antony@2x.jpg 2x"
                            src="./images/reviews/find-antony/find-antony.jpg" alt="фото профиля">
                    </div>
                
                </li>
            </ul>
        </div>    
    </div>
</section>