<!-- Алексей -->
<section class="section">
    <div class="container">
        <h2 class="section__title">Отзывы выпускников</h2>

        <div class="reviews">
            <button type="button" class="reviews__button reviews__button--left">
                <svg class="reviews__button-icon">
                    <use href="../src/images/icons.svg#icon-arrow-left"></use>
                </svg>
            </button>
            <button type="button" class="reviews__button reviews__button--right">
                <svg class="reviews__button-icon">
                    <use href="../src/images/icons.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>