<!-- Алексей -->
<section class="reviews">
    <div class="container">
        <button type="button" class="reviews__button reviews__button--left">
            <svg class="reviews__button-icon">
                <use href="../src/images/icons.svg#arrow-left"></use>
            </svg>
        </button>
        <button type="button" class="reviews__button reviews__button--left">
            <svg class="reviews__button-icon">
                <use href="../src/images/icons.svg#arrow-left"></use>
            </svg>
        </button>
    </div>
</section>