// Антон
.section.section--about {
    padding-top: 232px;
    @media screen and (min-width: 341px) {
        padding-top: 212px;
    }
    @media screen and (min-width: 344px) {
        padding-top: 192px;
    }
    @media screen and (min-width: 349px) {
        padding-top: 172px;
    }
    @media screen and (min-width: 376px) {
        padding-top: 152px;
    }
    @media screen and (min-width: 378px) {
        padding-top: 132px;
    }
    @media screen and (min-width: 396px) {
        padding-top: 112px;
    }
    @media screen and (min-width: 425px) {
        padding-top: 92px;
    }
    @media screen and (min-width: $tablet) {
        padding-top: 314px;
    }
    @media screen and (min-width: $tablet) {
        padding-top: 327px;
    }
}

.section__title--about {
    text-align: left;
}

.section__title--sub-title {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-align: left;
    margin-bottom: 20px;
    @media (min-width: $desktop) {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 1.233;
    }
}

.section__title--sub-title::after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid #b9b9b9;
    @media (min-width: $tablet) {
        max-width: 402px;
    }
    @media (min-width: $desktop) {
        padding-top: 15px;
        max-width: 642px;
    }
}

.wrapper {
    @media (min-width: $tablet) {
        display: flex;
    }
}

.list-wrapper {
    @media (min-width: $desktop) {
        max-width: 642px;
    }
}

.thumb {
    @media (min-width: $tablet) {
        margin-right: 40px;
    }
    @media (min-width: $desktop) {
        margin-right: 30px;
    }
}

.about__img {
    max-width: 243px;
    margin-bottom: 20.42px;
    @media (min-width: $desktop) {
        max-width: 530px;
        margin: 0;
    }
}

.skills__list {
    margin-bottom: 5px;
    @media (min-width: $desktop) {
        margin-bottom: 15px;
    }
}

.skills__item {
    display: flex;
}

.skills__item:not(:last-child) {
    margin-bottom: 24px;
}

.skills__item::before {
    content: '';
    width: 17.08px;
    height: 14px;
    margin-right: 8.92px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5357 0.946068C20.608 1.36111 19.7189 1.86789 18.8702 2.4331C17.1633 3.55612 15.6029 4.89335 14.1392 6.31946C12.6761 7.74907 11.314 9.27892 10.0261 10.8697C9.704 11.2674 8.26183 13.0386 8.26183 13.0386L2.26415 4.05099L0 10.327L8.11076 20C8.89836 18.4055 9.65634 16.8314 10.3998 15.4638C10.5845 15.116 10.778 14.7887 10.9629 14.4563C10.9629 14.4563 11.9147 12.7831 12.1651 12.3616C13.166 10.6758 14.2479 9.0337 15.4393 7.47374C16.6321 5.91664 17.9287 4.43011 19.3986 3.12332C20.13 2.46562 20.9085 1.8575 21.7427 1.32829C22.5751 0.798046 23.4596 0.333722 24.4057 0C23.4215 0.193628 22.4612 0.529888 21.5357 0.946068Z' fill='%23FF6B09'/%3E%3C/svg%3E");
    @media (min-width: $desktop) {
        margin-right: 34.59px;
        width: 24.41px;
        height: 20px;
    }
}

.section .skills__text {
    display: flex;
    color: $title-color;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.08em;
    max-width: 253px;
    @media (min-width: $tablet) {
        max-width: 375px;
        letter-spacing: 0.06em;
    }
    @media (min-width: $desktop) {
        min-width: 530px;
        font-size: 16px;
        line-height: 1.218;
        letter-spacing: 0.06em;
    }
}

.dash {
    color: $brand-color;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 5px;
    @media (min-width: $desktop) {
        margin-bottom: 15px;
    }
}

.education__list {
    margin-bottom: 10px;
    @media (min-width: $tablet) {
        max-width: 402px;
    }
    @media (min-width: $desktop) {
        margin-bottom: 20px;
        max-width: 632px;
    }
}

.education__item:not(:last-child) {
    margin-bottom: 24px;
}

.education__text {
    color: $primary-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.666;
    @media (min-width: $desktop) {
        font-size: 18px;
        line-height: 1.61;
    }
}

.about__link {
    color: $brand-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.666;
    text-decoration: underline;
    @media (min-width: $desktop) {
        font-size: 18px;
        line-height: 1.555;
    }
}