// Настя
.container {
    background-color: $title-color;
}

.form-input {
    background-color: transparent;
}

.form-input:valid {
    border-color: $white;
}

.form-input:invalid{
    border-color:rgb(255, 0, 0);
}