.logo__icon {
  fill: $mobile-menu-icon-color;

  width: 80px;
  height: 28.53px;

  &--size {
    width: 84.12px;
    height: 30px;
  }

  @media screen and (min-width: $tablet) {
    width: 128px;
    height: 45px;

    &--size {
      width: 128px;
      height: 45px;
    }
  }
}

.logo__icon--color {
  fill: $white;
}
