.service-button {
  width: 260px;
  height: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  background-color: $brand-color;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $brand-color;

  &--consult {
    color: $brand-color;
    background-color: transparent;
  }

  &:hover {
    cursor: pointer;
  }

  // &:focus,
  // &:hover {
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  //   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // }
}
